.chat {
  display: flex;
  flex-direction: column;
  flex: 0.7;
}
.chat__header {
  display: flex;
  padding: 5px 16px;
  align-items: center;
  border-bottom: 1px solid lightgray;
}
.chat__headerInfo {
  flex: 1;
  padding-left: 10px;
}
.chat__headerInfo > h3 {
  font-weight: 500;
}
.chat__headerInfo > p {
  color: gray;
  font-size: 8px;
}
/* .chat__headerRight {
  display: flex;
  margin-left: 20px;
} */

.chat__body {
  flex: 1;
  background-image: url("https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png");
  background-repeat: repeat;
  background-position: center;
  padding: 30px;
  overflow: scroll;
}
.chat__message {
  position: relative;
  font-size: 16px;
  padding: 10px;
  width: fit-content;
  border-radius: 0 10px 10px 10px;
  background-color: #fff;
  margin-bottom: 30px;
}
.chat__reciver {
  background-color: #dcf8c6;
  margin-left: auto;
  border-radius: 10px 0 10px 10px;
}

.chat__timestamp {
  margin-left: 10px;
  font-size: xx-small;
  color: grey;
}
.chat__name {
  position: absolute;
  top: -15px;
  font-weight: 800;
  font-size: xx-small;
}
.chat__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 59px;
  border-top: 1px solid lightgray;
}
.chat__footer > form {
  flex: 1;
  display: flex;
  height: 40px;
}
.chat__footer > form > input {
  flex: 1;
  border-radius: 30px;
  padding: 10px;
  border: none;
  outline-width: 0;
}
.chat__footer > .MuiSvgIcon-root {
  padding: 5px;
  color: gray;
}
::-webkit-scrollbar {
  width: 6px !important;
  height: 6px !important;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-track {
  background: hsla(0, 0%, 100%, 0.1);
}
